@import "./variables.scss";
h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  color: $textColor;
  font-family: $basicFont;
  letter-spacing: 20px;
}
p {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  color: $textColor;
  font-family: $basicFont;
}
button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: $white;
  font-family: $basicFont;
}
