$basicFont: "Roboto", sans-serif;
$primaryColor: #9932cc;
$primaryColorWithOpacity: rgb(75, 3, 75);
$secondaryColor: #97bc62ff;
$secondaryColorWithOpacity: rgba($secondaryColor, 0.2);
$textColor: #006400;
$white: #fff;
$black: #000;
